* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(198, 198, 198);
}

button {
    margin: 2px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

a {
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

form {
    .title {
        font-size: 30px;
        margin: 15px auto;
    }

    width: 60%;
    display: grid;
    margin: 3rem auto;

    input {
        margin: 10px 4px 10px 4px;
        border: none;
        border-radius: 10px;
        padding: 10px 0 10px 15px;
        font-size: 30px;
    }

    button {
        margin: 1rem auto;
        font-weight: 800;
        font-size: 25px;
        width: 50%;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: rgb(1, 182, 1);
        }
    }
}

.loader {
    margin: 3rem auto;
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
5%,
95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
10%,
59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
}
20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
    -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
    -0.749em -0.34em 0 -0.477em;
}
38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
    -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
    -0.82em -0.09em 0 -0.477em;
}
100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
}
}

@keyframes round {
0% { transform: rotate(0deg) }
100% { transform: rotate(360deg) }
}

.loading {
    color: #fff;
    text-align: center;

    h1 {
        font-size: 40px;
    }
}
 
.navbar {
    h1 {
        margin-right: auto;
        color: #fff;
    }
    padding: 8px;
    display: flex;
    background-color: #000;
}

.view_post {
    padding: 8px;
    width: 50%;
    margin: 10px auto;
    border: solid #000 2px;
    border-radius: 0.8rem;
    background-color: #fff;
    display: grid;

    .btns {
        display: flex;
        margin-left: auto;
        color: #fff;
        
        .view_more {
            background-color: rgb(0, 164, 0);
            
            &:hover {
                background-color: rgb(0, 204, 0);
            }
        }

        .delete {
            font-weight: 600;
            padding: 6px;
            color: #fff;
            height: 2.2rem;
            width: 5rem;
            cursor: pointer;
            background-color: crimson;
    
            &:hover {
                color: #fff;
                background-color: red;
            }
        }
    }

    .def, .id, .example, .pinyin, .word {
        h3 {
            margin-left: 10px;
        }
        font-size: 22px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

    .word {
        h3 {
            color: rgb(1, 38, 204);
        }
    }
    
    .def {
        h3 {
            color: rgb(159, 0, 0);
        }
    }

}

.view_details {
    padding: 8px;
    width: 50%;
    height: 28rem;
    margin: 10px auto;
    border: solid #000 2px;
    border-radius: 0.8rem;
    display: grid;
    font-weight: 800;
    font-size: 20px;
    background-color: #fff;

    .btns {
        display: flex;
        width: 80%;
        margin: auto;

        button {
            cursor: pointer;
            font-weight: 600;
            font-size: 1.2rem;
            height: 40%;
            background-color: rgba(172, 172, 172, 0.714);
            width: 100%;
        }

        .back:hover {
            background-color: rgb(40, 40, 40);
            color: #fff;
        }
        

        .delete:hover {
            background-color: red;
            color: #fff;
        }
    }
    
    .word {
        h3 {
            color: rgb(255, 0, 0);
        }
    }
    
    .def {
        h3 {
            color: rgb(208, 2, 2);
        }
    }

    .pinyin {
        h3 {
            color: rgb(0, 192, 16);
        }
    }

    .example {
        h3 {
            color: rgb(1, 68, 213);
        }
    }

}